{% extends 'blog/base.html' %}

{% block content %}
	<div class="post">
		{% if post.published_date %}
			<div class="date">
				{{ Post.published_date }}
			</div>
		
		<h1>{{ post.title }}</h1>
		<p>{{ post.text|linebreaksbr }}</p>
		<a class="btn btn-default" href="{%url 'post_edit' pk=post.pk %}">
			<span class="plyphicon glyphicon-edit"></span>
		</a>
		<!--<a class="byn byn-default"
		href="{% url 'post_remove' pk=post.pk %}">
			<span class=
		</a>-->
		{% else %}
			<h1>비공개 포스트입니다. </h1>
		{% endif %}
		
	</div>
{% endblock %}